.lmj-banner {
    color: white;
    text-align: center;
    padding: 32px;
    border-bottom: solid 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: 
        linear-gradient(#31b572, #123d2888),
        url("../assets/51865-philodendron-monstera-3.jpeg");
}

.lmj-banner-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.lmj-title {
    padding-left: 20px;
}

.lmj-logo {
    height: 50px;
    width: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50% 20%;
}