.needs {
    height: 30px;
    padding-bottom: 10px;
}

.needs :hover{
    cursor: pointer;
}

.needs :hover + .light{
    visibility: visible;
}

.needs :hover + .water{
    visibility: visible;
}

.light{
    top:350px;
    left: 100px;
}

.water{
    top:300px;
    left: 100px;
}