.lmj-footer {
	color: white;
	padding: 32px;
	border-top: solid 3px black;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight: 500;
	background-image: 
        linear-gradient(#31b572, #123d2888),
        url("../assets/51865-philodendron-monstera-3.jpeg");
}

.lmj-footer-elem {
	margin-bottom: 10px;
}