body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.btn-box  :hover{
  cursor: pointer;
}

.info-bulle{
  position: absolute;
  background-color: #31b572;
  padding: 15px;
  border-radius: 50% 50% 50% 0px;
  visibility: hidden;
  color: white;
  font-weight: lighter;
  font-size: 0.8rem;
}
